{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-5">

		<h1 class="text-center mb-4">Découvrez nos clichés</h1>


		<div class="text-center mb-4">
			<a href="/" class="btn btn-dark btn-sm me-2">Tous</a>
			{% for category in categories %}
				<a href="/?category={{ category.id }}" class="btn btn-sm me-2" style="background-color: {{ category.color }}; color: white;">
					{{ category.name }}
				</a>
			{% endfor %}
		</div>
	</div>

	<div class=" row row-cols-3 g-3">
		{% for photo in photos %}
			<div class="col">
				<div class="card border-0 shadow-sm rounded-4 overflow-hidden">
					<a href="{{path('app_photo_show',{id:photo.id})}}">
						<img src="{{ vich_uploader_asset(photo, 'imageFile') }}" alt="{{ photo.title }}" class="card-img-top" style="height: 280px; object-fit: cover;"></a>
					<div class="card-body">
						<strong>{{ photo.title }}</strong>
						<span class="badge ms-2" style="background-color: {{ photo.category.color }}">
							{{ photo.category.name }}
						</span>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

</div>{% endblock %}
